header{
    text-indent: 2vw;
}
.selections{
   display:fixed;
   margin-left: 50%;
   transform:translate(-50%,0);
   height:150px;
   width: 500px;
}
.cont1{
    height: 11vh;
    margin-top:1vh;
}
.cont2{
    height: 11vh;
    margin-top:-7vh; 
}
.cont3{
    height: 11vh;
    margin-top:-7vh;
}
.cont4{
    height: 11vh;
    margin-top:1vh;
}
.avatar{
    position:fixed;
    top:15vh;
    left:50%; 
    transform:translate(-50%,0);
    height:400px;
    width: 300px;
}
#armsDefault{
    position:fixed;
    margin-top: 22vh;
    left:50%; 
    transform:translate(-50%,0);
}
#legsDefault{
    position:fixed;
    margin-top: 32vh;
    left:50%; 
    transform:translate(-50%,0);
}
#bodyDefault{
    position:fixed;
    margin-top: 12vh;
    left:50%; 
    transform:translate(-50%,0);
}
#headDefault{
    position:fixed;
    margin-top: 0vh;
    left:50%; 
    transform:translate(-50%,0);
}
#eyesDefault{
    position:fixed;
    margin-top: 12vh;
    left:52%; 
    transform:translate(-48%,0);
}
#mouthDefault{
    position:fixed;
    margin-top: 18vh;
    left:54%; 
    transform:translate(-46%,0);
}
.categoriesDisp{
    display:fixed;
    display: row;
    margin-left: 50%;
    margin-top:38vh;
    transform:translate(-50%,0);
    height:300px;
    width: 500px;
}
#bodyDispCont{
    max-width: 100%;
    margin-top:-5vh;
    margin-left: 26%;
    transform:translate(-74%,0);
}
#legDispCont{
    margin-top:-26vh;
    max-width: 100%;
    margin-left: 50%;
    transform:translate(-50%,0);
}
#headDispCont{
    margin-top:-31vh;
    max-width: 100%;
    margin-left: 75%;
    transform:translate(-25%,0);
}
#eyeDispCont{
    margin-top:-8vh;
    max-width: 100%;
    margin-left: 75%;
    transform:translate(-25%,0);
}
#mouthDispCont{
    max-width: 100%;
    margin-top:-19vh;
    max-width: 100%;
    margin-left: 25%;
    transform:translate(-75%,0);
}
#armDispCont{
    max-width: 100%;
    margin-top:-24vh;
    max-width: 100%;
    margin-left: 50%;
    transform:translate(-50%,0);
}
#saveAvatarBtn{
    display:fixed;
    margin-left: 50%;
    transform:translate(-50%,0);
    height:80px;
    width:80px;
}
@media only screen and (min-width:1000px){
    /*for desktops*/
    header{
        text-indent: 12vw;
    }
    .categoriesDisp{
        display:fixed;
        display: row;
        margin-left: 50%;
        margin-top:42vh;
        transform:translate(-50%,0);
        height:150px;
        width: 1000px;
    }
    #bodyDispCont{
        max-width: 100%;
        margin-top:-5vh;
        margin-left: 10%;
        transform:translate(-90%,0);
    }
    #legDispCont{
        margin-top:-5vh;
        max-width: 100%;
        margin-left: 0%;
        transform:translate(-100%,0);
    }
    #headDispCont{
        margin-top:-5vh;
        max-width: 100%;
        margin-left: 2%;
        transform:translate(-98%,0);
    }
    #eyeDispCont{
        margin-top:-25vh;
        max-width: 100%;
        margin-left: 58%;
        transform:translate(-42%,0);
    }
    #mouthDispCont{
        max-width: 100%;
        margin-top:-30vh;
        margin-left: 75%;
        transform:translate(-25%,0);
    }
    #armDispCont{
        max-width: 100%;
        margin-top:-34vh;
        margin-left: 90%;
        transform:translate(-10%,0);
    }
    #saveAvatarBtn{
        display:fixed;
        margin-left: 50%;
        transform:translate(-50%,0);
        height:100px;
        width:100px;
    }
}