body{
    margin:0px;
    padding:0px;
    background-image: linear-gradient(0deg, #00ccff, #62d4d4);
    font-family: "Nunito", sans-serif;
}
#donationBar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    width: 100vw;
    background-color: #ffc122;
    font-size: 2vh;
    color: white;
}
#donateBtn{
    width: 15vw;
    height: 3vh;
    font-size: 2vh;
    font-weight: bold;
    background-color: white;
    color:#62d4d4;
    border-radius: 30px;
    margin-right:4vw;
    border-color: white;
}
#signInBar{
    display: flex;
    align-items: center;
    justify-content:right;
    height: 8vh;
    width: 100vw;
    background-color: white;
}
#signInBtn{
    width: 15vw;
    height: 3vh;
    background-color: #9bd069;
    border-color: #9bd069;
    color:white;
    border-radius: 30px;
    font-size: 2vh;
    margin-right:4vw;
}
#logo{
    width: 60vw;
    z-index: 4;
    justify-content: left;
}
#signUpBtn{
    width: 15vw;
    height: 3vh;
    background-color: transparent;
    border: none;
    color: #9bd069;
    font-family: "Nunito", sans-serif;
    font-size: 2vh;
    text-decoration: underline ;
}

#cta{
   display:flex;
   flex-direction:column;
   justify-content:start;
   align-items: center;
   font-family: "Nunito", sans-serif;
   text-align: center;
   color: white;
  font-size: 1.5vh;
  z-index: 3;
}
#sub{
  width: 90vh;
  transform: rotate(5deg);
  align-self: left;
  margin-left: -40vw;
  margin-top: -10vh;
  z-index: -2;
}
#sand{
  /* justify-content:end;
  margin-bottom: 0px; */
  width: 100vw;
  z-index: 4;
}

#book{
  width: 30vw;
  z-index: 5;
  margin-bottom: -80px;
}
#ctaText{ 
  bottom: 25vh;
  z-index: 6;
  margin-top: -20vh;
}
#ctaBtn{
  height: 10vh;
  background-color: #205e76;
  width: 25vw;
  color: white;
  font-size: 3vh;
  border: none;
  border-radius: 40px;
  margin-top: 3vh;
}
#ocean {
    position: relative;
    width: 100vw;
  }

/* ANIMATIONS inspired by Cody Pearce on codepen*/
.bubble {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    background-color: white;
    bottom: -30px;
    opacity: 0.2;
    animation: bubble 15s ease-in-out infinite,
      sideWays 4s ease-in-out infinite alternate;
  }
  
  @keyframes bubble {
    0% {
      transform: translateY(0%);
      opacity: 0.06;
    }
    100% {
      transform: translateY(-120vh);
    }
  }
  
  @keyframes sideWays {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: 200px;
    }
  }
  
.bubble--1 {
    left: 10%;
    animation-delay: 0.5s;
    animation-duration: 16s;
    opacity: 0.2;
  }
  
.bubble--2 {
    width: 30px;
    height: 30px;
    left: 40%;
    animation-delay: 1s;
    animation-duration: 10s;
    opacity: 0.1;
  }
  
.bubble--3 {
    width: 15px;
    height: 15px;
    left: 30%;
    animation-delay: 5s;
    animation-duration: 20s;
    opacity: 0.3;
  }
  
.bubble--4 {
    width: 30px;
    height: 30px;
    left: 40%;
    animation-delay: 8s;
    animation-duration: 17s;
    opacity: 0.2;
  }
  
.bubble--5 {
    width: 35px;
    height: 35px;
    left: 60%;
    animation-delay: 10s;
    animation-duration: 15s;
    opacity: 0.1;
  }
  
.bubble--6 {
    width: 15px;
    height: 15px;
    left: 80%;
    animation-delay: 3s;
    animation-duration: 30s;
    opacity: 0.4;
  }
  
.bubble--7 {
    width: 20px;
    height: 20px;
    left: 90%;
    animation-delay: -7s;
    animation-duration: 25s;
    opacity: 0.3;
  }
  
.bubble--9 {
    width: 25px;
    height: 25px;
    left: 50%;
    bottom: 30px;
    animation-delay: -5s;
    animation-duration: 19s;
    opacity: 0.2;
  }
  
.bubble--10 {
    width: 40px;
    height: 40px;
    left: 30%;
    bottom: 30px;
    animation-delay: -21s;
    animation-duration: 16s;
    opacity: 0.3;
  }
  
.bubble--11 {
    width: 35px;
    height: 35px;
    left: 60%;
    bottom: 30px;
    animation-delay: -13.75s;
    animation-duration: 20s;
    opacity: 0.3;
  }
  
.bubble--12 {
    width: 25px;
    height: 25px;
    left: 90%;
    bottom: 30px;
    animation-delay: -10.5s;
    animation-duration: 19s;
    opacity: 0.3;
  }
  @media only screen and (max-width: 999px){
  /*for mobile devices*/
  #desktopDonation {
    display: none;
 }
 #signUpBtn{
  display: none;
  }
#signUpBtn{
    display: none;
  }
}
@media only screen and (min-width:1000px){
  /*for desktops*/
  #donationBar{
    justify-content:space-between;
  }
  #desktopDonation {
  text-indent: 2vw;
  }
  #donateBtn{
    width: 10vw;
  }
  #signInBtn{
    width: 10vw;
  }
  #signUpBtn{
    width: 150px;
  }
  #logo{
    width: 30vw;
    margin-right: 15vw;
  }
}